body {
  /* margin-left:6%;
  margin-right:6%; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #282c34;
  background-color: #2d363c;
  background-color: #2f393f; */
  background-color: #343f46;
  /* background-color: #38444B; */
  overflow-y: scroll;
  overflow-x: hidden;
/* Text color   */
  color:white;
}

:root{
  --yellowColor:#fddb3a;
}  

a {
  text-decoration: none;
  color: var(--yellowColor);
}
.sectionContentContainer{
  padding-left:50px;
  padding-right:50px;
}
.linkTag{
  text-decoration: none;
  color: #fddb3a;
}

@media (max-width:710px){
  .navMenu .dot {
    display:none;

  }
  .navMenu a {
    display:block;
  }
  /* .sectionContentContainer{
    padding-left:20px;
    padding-right:20px;
  } */
  .name{
      /* font-size: calc(30px + 2vmin); */
      font-size: 40px;
      font-weight:400;
      margin:0px;
      padding-top:80px;
  }
  .dev{
    font-weight:25;
    /* font-size: calc(15px + 2vmin); */
    font-size:25px;
    margin:15px;
  }
}